{% include 'Nfe102RestoBundle:Default:cart.js.twig' %}
<script type="text/javascript">
 $(document).ready(function() {cartshow()});
</script>

<style type="text/css">
                    .cart,tr,th,td {
                        font-family:verdana;
                        border: 1px solid black;
                    }     

                </style>

   

                <table class="cart table table-striped table-responsive">
                    <tr class="showcart">
                        <th>Produit(s)</th>
                        <th>Mode de livraison</th>
                        <th>Prix&nbsp;unitaire</th>
                        <th>Quantit&eacute;</th>
                        <th>Total</th>
                    </tr>
                    <!-- Ajax insertion -->
                    <tr>

                        <td colspan="3" class="subTotal ">
                            <span>Total produits</span>
                            <span class="sum"></span>
                        </td>
                    </tr>
                    <tr>

                        <td colspan="3" class="subTotal ">
                            <span>Frais de livraison</span>
                            <span class="sum"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="subTotal  total ">
                            <span>TOTAL</span>
                            <span class="sum"></span>
                        </td>
                    </tr>


                </table>
                
                <input type="button" value="Commander" class="btn btn-danger" onclick="{#{ path('nfe102_resto_cmd') }#}">
                <input type="button" value="test" class="btn btn-danger" onclick="javascript:getprodvalue(1)">
                
                        