{%  extends 'Nfe102RestoBundle:Default:layout.html.twig' %}
{% block js %}
{{ parent() }}
<script src="{{ asset('bundles/nfe102resto/js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/nfe102resto/js/bootstrap.min.js') }}" type="text/javascript"></script>
<link href="{{ asset('bundles/nfe102resto/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}            
{% block content %}  
{#% if online == false %}
    <p>Our website is in maintenance mode. Please, come back later.</p>
{% endif %#} 
  
    {% if  menu == 1 %} {% include 'Nfe102RestoBundle:Default:homecontent.html.twig' %} {% endif %}
    {% if  menu == 2 %} {% include 'Nfe102RestoBundle:Default:lesmenus.html.twig' %} {% endif %}
    {% if  menu == 3 %} {% include 'Nfe102RestoBundle:Default:pizza.html.twig' %} {% endif %}
    {% if  menu == 4 %} {% include 'Nfe102RestoBundle:Default:pate.html.twig' %} {% endif %}
    {% if  menu == 5 %} {% include 'Nfe102RestoBundle:Default:lacarte.html.twig' %} {% endif %}
    {% if  menu == 6 %} {% include 'Nfe102RestoBundle:Default:cart.html.twig' %} {% endif %}
    
{% endblock %}