<ul>
   <li class='vert'><a href='#'><span>Nos Menus</span></a></li>
   <li class='vert'><a href='#'><span>Nos Pizzas</span></a></li>
   <li class='blanc'><a href='#'><span>Nos P&acirc;tes</span></a></li>
   <li class='blanc'><a href='#'><span>La Carte</span></a></li>
   <li class='rouge' id="size_li"><a href='#'><span>Votre Commande</span></a></li>
</ul>
