<ul>
   <li class='vert'><a href='http://localhost/projNfe102/web/app_dev.php/1'><span>Nos Menus</span></a></li>
   <li class='vert'><a href='http://localhost/projNfe102/web/app_dev.php/2'><span>Nos Pizzas</span></a></li>
   <li class='blanc'><a href='http://localhost/projNfe102/web/app_dev.php/3'><span>Nos P&acirc;tes</span></a></li>
   <li class='blanc'><a href='http://localhost/projNfe102/web/app_dev.php/4'><span>La Carte</span></a></li>
   <li class='rouge' id="size_li"><a href='http://localhost/projNfe102/web/app_dev.php/5'><span>Votre Commande</span></a></li>
</ul>
